* {
    font-family: Roboto;
    margin: 0;
}

header {
background-color: #1f2937;
font-size: 18px;
color: #e5e7eb;
padding: 16px 32px;

}

.header-container {
    display: flex;
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.header-container>.right-links {
    list-style-type: none;
    display: flex;
    flex: 1;
    gap: 24px;
    justify-content:end;

}

a {
    text-decoration: none;
    color: #e5e7eb;
  }

.hero-overlay {
    display:flex;
    flex: 1;
    background-color: #1f2937;
    padding: 16px 32px;
    justify-content:space-evenly;
    gap: 24px;
}

.hero-underlay {
    display:flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 450px;
}

.hero-left {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 15px;
    width: 80px;
    color: #e5e7eb;
    margin-top: 16px;
    padding: 8px;
    border-width: 0;
}

.placeholder {
    display: flex;
    background-color: grey;
    color: white;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    padding: 60px;
    height: 60px;
}

.random-info-title {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    padding: 24px;
}

.boxes {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.random-image-container {
    display: flex;
    flex: 1;
    padding-left: 600px;
    padding-right: 600px;
    justify-content:space-around;
    margin-bottom: 60px;

}

.random-img {
    display: flex;
    border:5px solid #3882f6;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 20px;

}

.box {
    display:flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

.inspiring-quote {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 620px;
    padding-right: 570px;
}

.quoted-person {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    padding-top: 24px;
}

.bottom-container {
    display: flex;
    background-color: #3882f6;
    margin: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:100px;
    padding-right:200px;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
}

button.sign-up-button2 {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 110px;
    margin-top: -1px;
    height: 40px;
    color: #e5e7eb;
    padding-left: 8px;
    padding-right: 8px;
    border: solid #e5e7eb;
}

.bottom-texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.call-to-action {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
}

.call-to-action-subtext {
    color: #F9FAF8;
    font-size: 12px;
}